name: Update Project Status on Label Changes

on:
  issues:
    types:
      - labeled
      - unlabeled

jobs:
  update-project-status:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
      OWNER: ${{ github.repository_owner }}
      REPO: ${{ github.event.repository.name }}
      ISSUE_NUMBER: ${{ github.event.issue.number }}
      ISSUE_NODE_ID: ${{ github.event.issue.node_id }}
      ACTION: ${{ github.event.action }}
      LABEL_CHANGED: ${{ github.event.label.name }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Determine new status on added label
        if: ${{ github.event.action }} == 'labeled'
        id: labeled
        run: |
          # Check if the label added is 'testing' or 'verified'
          # If yes, set the status to 'Testing' or 'Verified' respectively
          if [ "$LABEL_CHANGED" == "testing" ]; then
            echo "status=Testing" >> $GITHUB_OUTPUT
          elif [ "$LABEL_CHANGED" == "verified" ]; then
            echo "status=Verified" >> $GITHUB_OUTPUT
          else
            echo "status=skip" >> $GITHUB_OUTPUT
          fi
      - name: Determine new status on removed Label
        if: ${{ github.event.action }} == 'unlabeled'
        id: unlabeled
        run: |
          # Check if the label removed is 'testing' or 'verified'
          # If yes, check if the other label is still present
          # If yes, set the status to 'Testing' or 'Verified' respectively
          # If not, set the status to 'In Progress'
          if [ "$LABEL_CHANGED" == "testing" ] || [ "$LABEL_CHANGED" == "verified" ]; then
            # Get remaining labels
            REMAINING_LABELS=$(gh issue view "$ISSUE_NUMBER" -R "$OWNER/$REPO" --json labels --jq '.labels[].name')
            if echo "$REMAINING_LABELS" | grep -q "testing"; then
              echo "status=Testing" >> $GITHUB_OUTPUT
            elif echo "$REMAINING_LABELS" | grep -q "verified"; then
              echo "status=Verified" >> $GITHUB_OUTPUT
            else
              echo "status=In Progress" >> $GITHUB_OUTPUT
            fi
          else
            echo "status=skip" >> $GITHUB_OUTPUT
          fi
      - name: Set new status
        id: status
        if: steps.labeled.outputs.status != 'skip' || steps.unlabeled.outputs.status != 'skip'
        run: |
          scripts/update_issue_status.sh $OWNER $REPO $ISSUE_NUMBER $NEW_STATUS
        env:
          NEW_STATUS: ${{ steps.labeled.outputs.status || steps.unlabeled.outputs.status }}
